<div class='card'>
    <div class='card-header'>
        {{title}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'
                            (click)='toggleImage()'>
                            {{showImage? 'Hide':'Show'}} Image 
                        </button>
                        </th>
                        <th>Product</th>
                        <th>code</th>
                        <th>available</th>
                        <th>Price</th>
                        <th>5 star rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td><img *ngIf="showImage"
                         [src] ='product.imageUrl'
                        [title]='product.productName'
                        [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td> 
                        <td>{{product.price}}</td>
                        <td>{{product.starRating}}</td>
                        <td><button class="btn btn-primary" [routerLink]="['/update','product.productId']" [queryParams]="{id:product.productId,code:product.productCode,name:product.productName,date:product.releaseDate,desc:product.description,price:product.price,rating:product.starRating,image:product.imageUrl}" >Edit</button></td>
                    <td><button class="btn btn-primary" (click)="deleteProduct(product._id)">Delete</button></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
